@model DeliveryModel

@{
	ViewData["Title"] = "Способ доставки";
}

<h1>Способ доставки</h1>

<form action="@Url.Action(nameof (OrderController.StartDelivery))" method="post">
	<input type="hidden" name="id" value="@Model.OrderId"
	<div class="mb-3">
		<label for="code">Способ доставки</label>
		<select class="mb-2 form-control" name="uniqueCode">
			@foreach (var method in Model.Methods)
			{
				<option value="@method.Key">@method.Value</option>
			}
		</select>
		<button type="submit" class="btn btn-success">Далее</button>
	</div>
</form>
